.app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app__body {
    padding: 30px;
    display: flex;
}

.app__leftBody {
    padding-left: 110px;
    margin-right: 30px;
    flex: 0.65;
}

.app__rightBody {
    flex: 0.35;
    margin-right: 110px;
    /* position: fixed; */
}

.app__rightBodyUser {
    margin-bottom: 30px;
}

.app__rightBodySuggestions > h4 {
    color: gray;
}
